<br>
<div class="row">
  <div class="col-sm-6">

    <h2>Personal</h2>
    <div class="form-group">
      <label for="my-input">Nombre: </label>
      <input id="my-input" class="form-control" type="text" name="" [(ngModel)]="persona.nombre">
    </div>
    <div class="form-group">
      <label for="my-input">Apellido : </label>
      <input id="my-input" class="form-control" type="text" name="" [(ngModel)]="persona.apellido">
    </div>
    <div class="form-group">
      <label for="my-input">Edad : </label>
      <input id="my-input" class="form-control" type="number" name="" [(ngModel)]="persona.edad">
    </div>
    <button class="btn btn-success" type="button" (click)="flag?save():update()">Guardar</button>
  </div>
  <div class="col-sm-6">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>Nombre  </th>
          <th>Apellido  </th>
          <th>Edad  </th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of personas let i=index;">
          <tr>
            <td>{{item.nombre}} </td>
            <td>{{item.apellido}} </td>
            <td>{{item.edad}} </td>
            <td>
              <button class="btn btn-primary" type="button" (click)="edit(i)">Edit</button>
              &nbsp;
              <button class="btn btn-danger" type="button" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </ng-container>
        
      </tbody>
      
    </table>
  </div>

</div>