<br>
<div class="row">
  <div class="col-6">

    <h2>Tareas</h2>
    <div class="form-group">
      <label for="my-input">Nombre de tarea : </label>
      <input id="my-input" class="form-control" type="text" name="" [(ngModel)]="tarea.nombre">
    </div>
    <div class="form-group">
      <label for="my-input">Descripcion : </label>
      <input id="my-input" class="form-control" type="text" name="" [(ngModel)]="tarea.descripcion">
    </div>
    <button class="btn btn-success" type="button" (click)="flag?save():update()">Guardar</button>
  </div>
  <div class="col-6">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of tareas let i=index;">
          <tr>
            <td>{{item.nombre}} </td>
            <td>{{item.descripcion}} </td>
            <td>
              <button class="btn btn-primary" type="button" (click)="edit(i)">Edit</button>
              &nbsp;
              <button class="btn btn-danger" type="button" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </ng-container>
        
      </tbody>
      
    </table>
  </div>
</div>